<nav>
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo left">Songo Yaar</a>
      <ul class="right hide-on-med-and-down barre-de-navigation">
        <li routerLinkActive="active"><a routerLink="/create-annonce"><i class="material-icons left">add_shopping_cart</i>Deposer une annonce</a></li>
        <li routerLinkActive="active"><a routerLink="/search-annonce"><i class="material-icons left">search</i>Recherche</a></li>
        <li routerLinkActive="active"><a routerLink="/authentification"><i class="material-icons left">account_circle</i>Se connecter</a></li>
        <li routerLinkActive="active"><a routerLink="/mes-alertes"><i class="material-icons left">notifications</i>Mes alerte</a></li>
        <li routerLinkActive="active"><a routerLink="/aides"><i class="material-icons left">help</i>Aides</a></li>
      </ul>
    </div>
</nav>
  